.app-list {
  margin: 0 auto;
  width: 280px;
  padding-top: 424px;
  background-image: url("../img/header/iphone-mobile.png");
  background-position: 50% 27%;
  background-size: 286px 320px;
  background-repeat: no-repeat;
  color: #ffffff;

  @media (min-width: @tablet-width) {
    width: 660px;
    max-width: 660px;
    padding-top: 330px;
    background-color: unset;
    background-position: 90% bottom;
    background-size: 470px 545px;
  }

  @media (min-width: @desktop-width) {
    width: 960px;
    max-width: 960px;
  }
}

.app-list__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: @dark;

  @media (min-width: @tablet-width) {
    display: inline-block;
    background-color: unset;
    margin-left: 20px;
  }
}

.app-list__header {
  @media (min-width: @tablet-width) {
    position: relative;
    top: -85px;
  }
}

.app-list__title {
  position: absolute;
  top: 95px;
  width: 280px;
  text-align: center;
  font-family: "Open Sans", "Calibri", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  background-color: unset;

  @media (min-width: @tablet-width) {
    display: block;
    top: 212px;
    margin-left: 42px;
    font-size: 40px;
    height: 127px;
    width: 207px;
  }

  @media (min-width: @desktop-width) {
    top: 150px;
    width: 247px;
    margin-left: 20px;
    font-size: 50px;
    line-height: 68px;
  }
}

.app-list__btn-container {
  width: 280px;
  margin-top: 28px;
  margin-bottom: 38px;
}

.app-list__btn {
  width: 280px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: @dark;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 29px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    width: 300px;
    background-color: unset;
  }

  @media (min-width: @desktop-width) {
    font-size: 21px;
  }
}

.app-list__btn a {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;

  @media (min-width: @desktop-width) {
    font-size: 21px;
  }
}

.app-list__el-list {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
}

.app-list__el-list li {
  margin-right: 35px;
}

.app-list__el-list li:first-child {
  margin-left: 38px;
}

.app-list__text {
  margin-bottom: 34px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;

  @media (min-width: @tablet-width) {
    background-color: unset;
    font-size: 18px;
  }
}
