.logos {
  display: flex;
  min-height: 271px;
  background: @dark;
  color: #ffffff;

  @media (min-width: @tablet-width) {
    background-color: unset;
  }
}

.logos__wrapper {
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    background-color: unset;
  }
}

.logos__title {
  font-family: "Open Sans", "Calibri", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  background-color: unset;

  @media (min-width: @tablet-width) {
    font-size: 40px;
  }
}

.logos__btn {
  width: 280px;
  height: 55px;
  margin-top: 28px;
  margin-bottom: 38px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  background-color: @dark;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 29px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    background-color: unset;
  }
}

.logos__img {
  display: flex;
  align-items: center;
  margin-bottom: 31px;
}

.logos__img li {
  margin-right: 35px;
}

.logos__text {
  width: 280px;
  height: 34px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;

  @media (min-width: @tablet-width) {
    background-color: unset;
  }
}
