.main-nav__list {
  display: none;
  margin: 0;
  padding: 0;
  width: auto;
  font-family: "Open Sans", "Calibri", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  background: @darkblue;
  list-style: none;
  border-top: 1px solid @dark;

  &--active {
    display: block;
  }

  @media (min-width: @tablet-width) {
    display: none;

    &--active {
      display: block;
    }
  }

  @media (min-width: @desktop-width) {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-transform: initial;
    background: unset;
    border: none;
  }
}

.main-nav__site-list {
  width: 100%;
  left: 0;
  right: 0;
  position: absolute;
  display: none;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    position: relative;
    display: flex;
    flex-direction: row;
  }
}


.main-nav--closed .page-header__toggle::before {
  content: "";
  position: absolute;
  top: 20px;
  width: 50px;
  height: 4px;
  background-color: #ffffff;
  box-shadow: 0 11px 0 0 #ffffff, 0 22px 0 0 #ffffff;


  @media (min-width: @tablet-width) {
    top: 40px;
  }
}

.main-nav--closed .page-header__toggle:active::before {
  background-color: fade(#ffffff, 30%);
  box-shadow:
    0 8px 0 0 fade(#ffffff, 30%),
    0 16px 0 0 fade(#ffffff, 30%);
}


.main-nav--closed .main-nav__item {
  @media (min-width: @mobile-width-only) {
    display: none;

    &--active {
      display: block;
    }
  }

  @media (min-width: @desktop-width) {
    margin-top: 10px;
    display: flex;
  }
}

.main-nav--opened .main-nav__item {
  @media (min-width: @desktop-width) {
    display: block;
  }
}


.main-nav--opened .page-header__toggle {
  top: 9px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 30px;
    width: 30px;
    height: 3px;
    background-color: #ffffff;

    @media (min-width: @tablet-width) {
      top: 43px;
    }
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: @red;
  }

  &:active::before,
  &:active::after {
    background-color: fade(@red, 30%);
  }
}

.main-nav__item {
  padding: 15px 40px;
  text-align: center;
  border-top: 1px solid fade(#ffffff, 15%);
  border-bottom: 1px solid #000000;


  @media (min-width: @desktop-width) {
    min-width: 131px;
    padding: 12px 19px;
    text-align: center;
    justify-content: center;
    border-top: 1px solid fade(#ffffff, 15%);
    border-bottom: 1px solid #000000;
    border: unset;
  }
}


.main-nav__link {
  width: max-content;
  padding-bottom: 10px;
  line-height: 32px;
  color: #ffffff;
  text-decoration: none;

  @media (min-width: @desktop-width) {
    font-family: "Open Sans", "Calibri", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
  }


  &:hover {
    color: @red;
    border-color: @red;
    transition: border 0.1s linear;
  }

  &:active {
    opacity: 0.3;
    border: none;
    outline: none;
  }
}

.main-nav__link--active {
  @media (min-width: @desktop-width) {
    border-bottom: 2px solid #ffffff;
    transition: border 0.1s linear;
  }
}

.main-nav__item:last-child {
  justify-content: center;

  @media (min-width: @desktop-width) {
    padding-right: 0;
    padding-left: 31px;
  }
}
