.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 33px auto;
  color: #000000;

  @media (min-width: @tablet-width) {
    max-width: 620px;
    margin: 27px auto;
    flex-direction: row;
    align-items: normal;
  }

  @media (min-width: @desktop-width) {
    margin-top: 66px;
    margin-bottom: 75px;
    max-width: 940px;
  }
}

.page-footer--catalog {
  margin-top: 42px;

  @media (min-width: @tablet-width) {
    margin: 38px auto;
  }

  @media (min-width: @desktop-width) {
    margin-top: 98px;
    margin-bottom: 75px;
    max-width: 940px;
  }
}

.page-footer__social {
  @media (min-width: @tablet-width) {
    margin-left: -16px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 5px;
  }
}


.page-footer__catalog {
  @media (min-width: @desktop-width) {
    margin-top: 102px;
  }
}

.page-footer__logo-wrapper {
  margin-bottom: 36px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.page-footer__logo {
  display: block;

  &--visible-desk {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: flex;

    &--visible-mob {
      display: none;
    }
  }
}

.page-footer__logo--visible-mob,
.page-footer__logo--visible-desk {
  fill: @darkblue;

  &:hover {
    fill: @red;
  }

  &:active {
    opacity: 0.3;
  }
}


.page-footer__copyright {
  display: flex;
  align-items: center;
  margin-bottom: 40px;

  font-family: "Open Sans", "Calibri", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    padding-top: 8px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 9px;
    font-size: 18px;
  }
}

.page-footer--catalog .page-footer__copyright {
  @media (min-width: @desktop-width) {
    padding-top: 7px;
  }
}

.page-footer__copyright-text {
  margin-right: 15px;

  @media (min-width: @desktop-width) {
    margin-right: 13px;
  }
}

.page-footer__copyright svg {
  fill: @red;

  &:hover {
    fill: @darkblue;
  }

  &:active {
    opacity: 0.1;
  }
}
