.page-header {
  display: flex;
  flex-direction: column;
  background: @dark;
  color: #ffffff;
}

.page-header__logo {
  height: 66px;
  color: #ffffff;

  @media (min-width: @tablet-width) {
    .page-header__logo {
      height: 110px;
    }
  }

  @media (min-width: @desktop-width) {
    .page-header__logo {
      height: 110px;
    }
  }
}
