.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto;
  color: #000000;

  @media (min-width: @tablet-width) {
    max-width: 620px;
    margin: 36px auto;
    flex-direction: row;
    align-items: normal;
  }

  @media (min-width: @desktop-width) {
    margin-top: 75px;
    margin-bottom: 75px;
    max-width: 940px;
  }
}

.page-footer__social {
  @media (min-width: @tablet-width) {
    margin-left: -16px;
  }
}


.page-footer__catalog {
  @media (min-width: @desktop-width) {
    margin-top: 102px;
  }
}

.page-footer__logo-wrapper {
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.page-footer__logo {
  display: block;

  &--visible-desk {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: flex;

    &--visible-mob {
      display: none;
    }
  }
}
