.page-main {
  font-family: "Open Sans", "Calibri", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #000000;
  background: #ffffff;
}

.page-main__wrapper-form {
  display: flex;
  justify-content: center;
}

.page-main__title-form {
  margin-top: 44px;
  margin-bottom: 30px;
  text-align: center;


  @media (min-width: @tablet-width) {
    width: 490px;
    margin-top: 89px;
    margin-bottom: 64px;
    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    width: 756px;
    margin-top: 92px;
    margin-bottom: 71px;
  }
}

.page-main__title-form-span {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: inline-block;
  }
}
