.photos-editor {
  color: #000000;
  background: @lightgray;
}

.photo-editor__header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 49px;
  margin-bottom: 52px;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    margin-top: 73px;
    margin-bottom: 78px;
    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 67px;
    margin-bottom: 75px;
  }
}

.photo-editor__tagline {
  margin: 0;
}

.photo-editor__wrapper {
  background: @lightgray;
  margin: 0 auto;

  @media (min-width: @desktop-width) {
    width: 940px;
  }
}

.photo-editor__container {
  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.photo-editor__upload-image {
  width: 280px;
  margin: 0 auto;
  padding-top: 20px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.photo-editor__item {
  display: flex;
  justify-content: space-around;
  list-style: none;

  @media (min-width: @tablet-width) {
    flex-direction: column;
  }
}

.photos-editor__container-btn {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  background: @lightgray;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @desktop-width) {
    flex-direction: row;
  }
}

.photo-editor__btn {
  width: 280px;
  margin-bottom: 12px;
  padding: 21px 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  border: 3px solid #283645;
  box-sizing: border-box;
  border-radius: 30px;
  opacity: 0.1;

  @media (min-width: @tablet-width) {
    width: 260px;
    margin-bottom: 24px;
  }

  @media (min-width: @desktop-width) {
    width: 183px;
  }
}

.btn-active {
  color: #d22856;
  border: 3px solid #d22856;
  opacity: unset;
}
