.photos {
  margin: 0 auto;
}

.photos__header-text {
  height: 184px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;

  @media (min-width: @tablet-width) {
    height: 228px;
    font-size: 18px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    width: 572px;
    height: 240px;
  }
}

.photos__content-catalog {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    width: 300px;
  }
}

.photos__wrapper {
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.photos__wrapper picture {
  margin: 0;
  padding: 0;
}

.photos__image-wrapper {
  padding: 0;
  margin: 0;
}

.photos__image--panorama {
  width: 100%;
  height: 137px;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    height: 509px;
  }

  @media (min-width: @desktop-width) {
    height: 506px;
  }
}

.photo__comments {
  font-size: 0;
  background-color: @lightgray;
}

.photos__username {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
}

.photos__like-panorama {
  display: flex;
  align-items: center;
}

.photos__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.photos__like-text {
  color: #d22856;
}
