.photos-editor {
  color: #000000;
  background: @lightgray;
}

.photo-editor__header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 49px;
  margin-bottom: 52px;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    margin-top: 73px;
    margin-bottom: 78px;
    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 67px;
    margin-bottom: 75px;
  }
}

.photo-editor__tagline {
  margin: 0;
}

.photo-editor__wrapper {
  background: @lightgray;
  margin: 0 auto;

  @media (min-width: @desktop-width) {
    width: 940px;
  }
}

.photo-editor__container {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: center;
  }
}

.photo-editor__upload-image {
  width: 280px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 43px;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding-top: 57px;
    padding-right: 48px;
    padding-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 90px;
    padding-bottom: 57px;
  }
}

.photos__item-image {
  height: 374px;

  @media (min-width: @tablet-width) {
    height: 400px;
  }
}

.photo-editor__list {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 260px;
  }

  @media (min-width: @desktop-width) {
    width: 410px;
  }
}

.photo-editor__item {
  width: 280px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-left: 0;
  padding-bottom: 39px;
  list-style: none;


  @media (min-width: @tablet-width) {
    width: auto;
    flex-direction: column;
    margin: 0;
    margin-top: 66px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 55px;
  }
}

.photo-editor__piece {
  min-height: 58px;
  display: flex;
  align-items: center;
  border-bottom: 1px rgba(40, 54, 69, 0.1);
}

.photo-editor__piece svg {
  @media (min-width: @tablet-width) {
    height: 22px;
    padding-right: 28px;
  }

  @media (min-width: @desktop-width) {
    height: 44px;
    padding-right: 48px;
  }
}


.photos__editor-range {
  top: 5px;
  position: relative;
  width: 280px;
  height: 2px;
  margin: 0 auto;
  margin-bottom: 34px;
  background-color: @darkblue;

  @media (min-width: @tablet-width) {
    margin-bottom: 14px;
  }
}

.range-toggle {
  position: absolute;
  right: 33px;
  top: -7px;
  width: 15px;
  height: 15px;
  background: #ffffff;
  border: 2px solid @red;
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
}

.photos__editor-range--crop,
.photos__editor-range--fill,
.photos__editor-range--contrast {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.photos__editor-range--global {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.photos-editor__container-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  background: @lightgray;
  padding-top: 38px;
  padding-bottom: 30px;

  @media (min-width: @desktop-width) {
    flex-direction: row;
  }
}

.photo-editor__btn {
  width: 280px;
  margin-bottom: 12px;
  height: 55px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  border: 3px solid #283645;
  box-sizing: border-box;
  border-radius: 30px;
  opacity: 0.1;

  @media (min-width: @tablet-width) {
    width: 260px;
    margin-bottom: 24px;
  }

  @media (min-width: @desktop-width) {
    width: 183px;
  }
}

.btn-active {
  color: #d22856;
  border: 3px solid #d22856;
  opacity: unset;
}
