.reg-form__block {
  font-family: "Open Sans", "Calibri", sans-serif;
  background-color: @lightgray;
  margin-bottom: 44px;

  @media (min-width: @tablet-width) {
    background-color: unset;
    border: 2px solid @lightgray;
    border-radius: 1px;
    margin-bottom: 65px;
  }
}

.reg-form__title {
  text-align: center;
  color: @red;
  text-transform: uppercase;
}

.reg-form__submit {
  display: flex;


  @media (min-width: @tablet-width) {
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
  }
}

.reg-form__user {
  border: none;
}

.reg-form__list {
  padding: 0;
}

.reg-form__item {
  list-style-type: none;
  margin-bottom: 29px;
}

.reg-form__label {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: @red;
  font-size: 14px;
}

.reg-form__input {
  width: 100%;
  min-width: 276px;
  height: 55px;
  border: 2px solid @lightgray;
  border-radius: 1px;

  @media (min-width: @tablet-width) {
    margin-left: 20px;
  }
}

.reg-form__input::placeholder {
  padding-left: 20px;
  font-size: 18px;
  color: @darkblue;
}

.reg-form__submit-button {
  width: 276px;
  height: 59px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  background: @green;
  border: 2px solid @green;
  border-radius: 1px;


  @media (min-width: @tablet-width) {
    width: 296px;
  }
}

.reg-form__feeling {
  display: flex;
  justify-content: center;
  border: unset;

  @media (min-width: @tablet-width) {
    padding: 47px 60px 53px;
    border: 2px solid @lightgray;
    border-radius: 1px;
  }

  @media (min-width: @desktop-width) {
    padding: 44px 60px 44px;
  }
}


.reg-form__comment {
  min-width: 276px;
  padding: 22px 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: @darkblue;
  border: 2px solid @lightgray;
  border-radius: 1px;


  @media (min-width: @tablet-width) {
    min-width: 450px;
  }

  @media (min-width: @desktop-width) {
    min-width: 770px;
  }
}

// Progress //

.reg-form__progress {
  background-color: @lightgray;
  border: none;

  @media (min-width: @tablet-width) {
    background-color: unset;
    border: 2px solid @lightgray;
    border-radius: 1px;
  }
}

.reg-form__title {

}

.progress__list {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 2em;
    grid-gap: 47px;
  }
}

.progress__item {
  position: relative;
  display: block;
  list-style-type: none;
  margin-bottom: 47px;
}

.progress-mark {
  content: "";
  position: absolute;
  border: 2px solid @lightgray;
  border-radius: 1px;
  width: 35px;
  height: 35px;
}

.progress-input[type="checkbox"]:checked + .progress-mark::before,
.progress-input[type="checkbox"]:checked + .progress-mark::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 10px;
  height: 2px;
  width: 25px;
  background-color: @red;
}

.progress-input[type="checkbox"]:checked + .progress-mark::before {
  transform: rotate(-45deg);
}

.progress-input[type="checkbox"]:checked + .progress-mark::after {
  width: 10px;
  top: 20px;
  left: 6px;
  transform: rotate(45deg);
}

.progress-label {
  padding-left: 57px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

// Application //

.applications__list {
  margin: 0;
  padding: 50px 52px;
}

.applications__item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 38px;
}

.applications__el {
  display: flex;
  padding-left: 30px;
  align-items: center;
  appearance: none;
}

.applications__el-label {
  padding-left: 22px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.applications__el-mark {
  position: absolute;
  left: 0;
  width: 37px;
  height: 37px;
  border: 2px solid @lightgray;
  border-radius: 50%;
}

.applications__el-input[type="radio"]:checked + .applications__el-mark::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 11px;
  width: 15px;
  height: 15px;
  background-color: @red;
  border-radius: 50%;
}


// Communication //

.communication__label {
  display: flex;
}

.communication__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: @red;
}

.communication__item {
  list-style-type: none;
  appearance: none;
}

.communication__input {
  height: 55px;
  border: 2px solid @lightgray;
  border-radius: 1px;
}

.communication__input::placeholder {
  font-family: "Open Sans", "Calibri", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.communication__icon {
  padding: 10px;
  background-color: @lightgray;
}
