.stats {
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

.stats__header {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: @darkblue;

  @media (min-width: @tablet-width) {
    font-size: 40px;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
  }
}

.stats-container {
  padding-top: 30px;
  background-color: @lightgray;
  background-image: url("../img/bg-triangle-white.svg");
  background-size: 100% 25px;
  background-position: 0 0;
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    padding-top: 40px;
  }
}

.stats__list {
  height: 680px;
  padding-top: 23px;
  text-align: center;
  background-color: @lightgray;
  background-image: url("../img/stats/iphone-screen-mobile.png");
  background-size: 135px 280px;
  background-position: 50% 110%;
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    height: 500px;
    background-image: url("../img/stats/iphone-screen-tablet.png");
    background-position: bottom left;
    background-size: 268px 482px;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    text-align: center;
    background-image: url("../img/stats/iphone-screen-desktop.png");
    background-size: 165px 244px;
  }
}

.stats__item {
  margin-right: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    justify-content: end;
    margin-right: 80px;
  }
}

.stats__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.stats__description {
  width: 280px;
  margin: 0 auto;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: @tablet-width) {
    width: 310px;
  }
}
