.stats {
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

.stats__header {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
}

.stats__list {
  text-align: center;
  background-image: url("../img/stats/iphone-screen-mobile.png");
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    background-image: url("../img/stats/iphone-screen-tablet.png");
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/stats/iphone-screen-desktop.png");
  }
}
